.totalInvoice {
    text-align: right !important;
}

.expense__drag, .expense__delete, .invoice__details--disabled {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

@media (min-width: 426px) {
    .invoice__titles {
        float: left;
        width: 50%
    }

    .invoice__dates {
        text-align: right;
        float: right;
        width: 50%
    }

    .invoice__client {
        float: left;
        width: 60%
    }

    .invoice__author {
        float: right;
        width: 40%
    }
}

.invoice__cancelSubmit--enabled {
    display: inline-block
}

.invoice__expenses {
    position: relative
}

.invoice__expenses > * {
    border-bottom: 1px solid #EFEFEF
}

.invoice--hideInputs input[type="number"] {
    opacity: 0 !important
}

.invoice__deleteImageFlip:hover img:first-child {
    display: none
}

.invoice__deleteImageFlip:hover img:nth-child(2) {
    display: inline-block
}

.expense__colDesc {
    width: 25%;
    position: relative;
    display: inline-block
}

.expense__colQty, .expense__colPrice, .expense__colTotal {
    width: 25%;
    position: relative;
    display: inline-block
}

@media (min-width: 426px) {
    .expense__colDesc {
        width: 40%;
        display: table-cell
    }

    .expense__colQty, .expense__colPrice, .expense__colTotal {
        width: 20%;
        display: table-cell
    }
}

.expense__preview {
    width: 90%;
    position: absolute;
    pointer-events: none;
    right: 0
}

.expense__input:focus + .expense__preview {
    display: none
}

.expense__input:invalid + .expense__preview {
    outline: none;
    border-bottom: 1px solid #DA5E58;
    color: #DA5E58
}

.expense__input {
    width: 100%;
    opacity: 0
}

.expense__input:focus {
    opacity: 1
}

.expense {
    border-bottom: 1px solid #EFEFEF;
    box-sizing: border-box;
    position: relative
}

.expense:hover .expense__drag, .expense:hover .expense__delete {
    visibility: visible
}

.expense--dragged {
    padding-left: 10px;
    padding-right: 10px;
    background: #fff;
    box-shadow: 0px 2px 10px rgba(78, 78, 78, 0.1);
    z-index: 100
}

.expense--dragged .expense__drag {
    visibility: visible;
    color: #4E4E4E
}

.expense--dragged .expense__delete {
    visibility: hidden !important
}

.expense__quantity, .expense__value, .expense__total {
    font-family: "IBM Plex Mono", monospace
}

.expense__drag, .expense__delete {
    position: absolute;
    visibility: hidden;
    color: #CECECE;
    width: 30px;
    text-align: center;
    top: 0;
    height: 100%;
    vertical-align: middle;
    line-height: 38px
}

.expense__drag {
    left: -30px;
    cursor: grab
}

.expense__drag:hover {
    color: #4E4E4E
}

.expense__delete {
    right: -30px;
    cursor: pointer
}

.expense__delete:hover {
    color: #DA5E58
}

.expense__buttons {
    display: none
}

@media (hover: none) {
    .expense__drag, .expense__delete {
        display: none
    }

    .expense__buttons {
        display: block
    }

    #invoice__notes {
        border: 1px solid #EFEFEF;
        border-radius: 3px
    }
}

.invoice__details--disabled {
    pointer-events: none
}

.invoice__details--disabled > * {
    opacity: 0.25
}

.expense__button {
    border: 2px solid #CECECE;
    min-width: 45px;
    color: #4E4E4E;
    background-color: #EFEFEF;
    border-radius: 2px;
    text-align: center;
    font-weight: 800
}

.details__gutter {
    flex-basis: 40px
}

.details__sendArea {
    box-shadow: 0px 2px 10px rgba(78, 78, 78, 0.1);
    background: #fff
}

.details__emailEvents {
    table-layout: fixed;
    border-collapse: collapse;
    border-top: 2px solid #EFEFEF
}

.details__emailEvents__colStatus {
    width: 65px
}

.details__emailEvent {
    border-top: 1px solid #EFEFEF
}

.payment {
    border-bottom: 1px solid #EFEFEF
}

.payment:hover .payment__deleteButton {
    display: inline-block
}

.payment__confirmedBadge {
    color: #fff;
    background-color: #0D28F2;
    font-size: 0.8em;
    vertical-align: middle;
    padding: 2px 4px;
    font-weight: 800
}

.payment__deleteButton {
    display: none;
    padding-left: 5px
}

#payment_showCreateForm ~ .payment--form {
    display: none
}

#payment_showCreateForm:checked ~ .payment--form {
    display: block
}

.sendModal__email {
    border-top: 1px solid #CECECE
}

.sendModal__email:last-child {
    border-bottom: 1px solid #CECECE
}

@media (max-width: 625px) {
    .details__column {
        flex-basis: 100%
    }

    .details__gutter {
        display: none
    }

    .invoice__submitContainer {
        margin-top: 20px
    }
}

@keyframes inputThrob {
    0% {
    }
    50% {
        border: 1px solid #0D28F2;
        color: #0D28F2;
        box-shadow: 0 0 10px rgba(13, 40, 242, 0.25)
    }
    100% {
    }
}

.input--autoUpdateAnimate {
    animation: inputThrob 1.0s ease
}
